<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/ChrisGruen/RealtyManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row detail-immo-row">
	<div class="col-sm-8">
		<h3>{object.title} <span style="font-size: 12px">(uid: {object.uid})</span></h3>
		<div class="row bg-light mt-3 mb-4" style="height: 100px;">
			<div class="col">
				<h2>Slider</h2>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan="2">Überblick</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="w-50">Mietfläche ca.</td>
					<td class="w-50">{object.livingArea} m²</td>
				</tr>
				<tr>
					<td class="w-50">Etage</td>
					<td class="w-50">{object.floor}</td>
				</tr>
				<tr>
					<td class="w-50">Kaltmiete</td>
					<td class="w-50">{object.rentExcludingBills} EUR</td>
				</tr>
				<tr>
					<td class="w-50">Nebenkosten</td>
					<td class="w-50">{object.extraCharges} EUR</td>
				</tr>
				<tr>
					<td class="w-50">Wohnform</td>
					<td class="w-50"><n:houseType houseuid='{object.houseType}' /></td>
				</tr>
				<tr>
					<td class="w-50">Untertypwohnform</td>
					<td class="w-50"><n:apartmentType apartmentuid='{object.apartmentType}' /></td>
				</tr>
			</tbody> 	
		</table>
		<p><b>Beschreibung</b> <br />
		 	<f:format.html>{object.description}</f:format.html>
	 	</p>
	 	<p><b>Addresse</b> <br />
		 	{object.street} <br />
		 	{object.zip} 
		 	<n:city cityuid='{object.city}' /> 
		 	<f:if condition="{object.district} > '0'">
				<f:then>
					- <n:district districtuid='{object.district}' />
				</f:then>
			</f:if>
	 	</p>
	</div>
	<div class="col-sm-4">	
		<h3>Anbieter</h3>
	</div>
</div>
<hr />
<f:link.action class="btn btn-default btn-sm" action="list"><< zurück</f:link.action></p>
</html>