<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/ChrisGruen/RealtyManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row detail-immo-row">
	<div class="col-sm-8">
		<h3><span class="font-weight-bolder">{object.title} </span><span style="font-size: 12px">(uid: {object.uid})</span></h3>
		<f:render partial="Media/Gallery" arguments="{_all}" />
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan="2">Überblick</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="w-50">Mietfläche ca.</td>
					<td class="w-50">{object.livingArea} m²</td>
				</tr>
				<tr>
					<td class="w-50">Etage</td>
					<td class="w-50">{object.floor}</td>
				</tr>
				<tr>
					<td class="w-50">Kaltmiete</td>
					<td class="w-50">{object.rentExcludingBills} EUR</td>
				</tr>
				<tr>
					<td class="w-50">Nebenkosten</td>
					<td class="w-50">{object.extraCharges} EUR</td>
				</tr>
				<tr>
					<td class="w-50">Wohnform</td>
					<td class="w-50"><n:houseType houseuid='{object.houseType}' /></td>
				</tr>
				<tr>
					<td class="w-50">Untertypwohnform</td>
					<td class="w-50"><n:apartmentType apartmentuid='{object.apartmentType}' /></td>
				</tr>
				<f:if condition="{object.barrierFree} > '0'">
					<f:then>
						<tr>
							<td class="w-50">rollstuhlgerecht</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.tvEnabled} > '0'">
					<f:then>
						<tr>
							<td class="w-50">TV-Anschluss</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.furnished} > '0'">
					<f:then>
						<tr>
							<td class="w-50">Möbiliert</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.cleaning} > '0'">
					<f:then>
						<tr>
							<td class="w-50">Fahrradraum</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.washingroom} > '0'">
					<f:then>
						<tr>
							<td class="w-50">Waschmaschinenraum</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.fittedKitchen} > '0'">
					<f:then>
						<tr>
							<td class="w-50">Einbauküche</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
				<f:if condition="{object.provision}">
					<f:then>
						<tr>
							<td class="w-50">keine Zusatzkosten</td>
							<td class="w-50">ja</td>
						</tr>
					</f:then>
				</f:if>
			</tbody> 	
		</table>
		<p><b>Beschreibung</b> <br />
		 	<f:format.html>{object.description}</f:format.html>
	 	</p>
	 	<p><b>Addresse</b> <br />
		 	{object.street} <br />
		 	{object.zip} 
		 	<n:city cityuid='{object.city}' /> 
		 	<f:if condition="{object.district} > '0'">
				<f:then>
					- <n:district districtuid='{object.district}' />
				</f:then>
			</f:if>
	 	</p>
	</div>
	<div class="col-sm-4 employer-address">	
		<h3><span class="font-weight-bolder">Anbieter</span></h3>
		<p>{employer.company} </p>
		<p>
			{employer.address} <br />
			{employer.zip} <br />
			{employer.city}
		</p>
		<p>
			Telefon:  {employer.telephone}<br />
			Fax:  {employer.fax}<br />
			Email: {employer.email}<br /> 
			Web: <f:link.external uri="{employer.www}" target="_blank">{employer.www}</f:link.external>
		</p>
		<h3><span class="font-weight-bolder">Kontaktperson</span></h3>
		<p>
			{object.contactPerson} <br />
			Telefon:  {object.phoneSwitchboard}<br />
			Email: {object.contactEmail}
		</p>
	</div>
</div>
<hr />
<input type="button" class="btn btn-default btn-sm" value="<< zurück" onclick="history.back()">
</html>