<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>SEARCH FORM</h2><br />

<f:form action="list" id="searchform" controller="RealtyManager">
	<div class="form-group">
		<label for="city">Stadt</label>
	    <f:form.select name="city"  class="form-control form-control-sm select-city" options="{cities}" optionValueField="key" optionLabelField="value" value="{city}" />
	</div>
	<div id="ajaxSelectDistrictResult">	
		<div class="form-group">
			<label for="district">Stadtteil</label>
		    <f:form.select name="district" class="form-control form-control-sm" options="{districts}" optionValueField="key" optionLabelField="value" value="{district}" />
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="furnished">Möbliert</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="furnished" id="furnished1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="furnished1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="furnished" id="furnished2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="furnished2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="kitchen">Küche vorhanden</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="kitchen" id="kitchen1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="kitchen1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="kitchen" id="kitchen2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="kitchen2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="barrier_free">Barrierefrei</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="barrier_free" id="barrier_free1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="barrier_free1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="barrier_free" id="barrier_free2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="barrier_free2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="cleanservice">Hausreinigung</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="cleanservice" id="cleanservice1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="cleanservice1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="cleanservice" id="cleanservice2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="cleanservice2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="bike_room">Fahrradraum</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="bike_room" id="bike_room1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="bike_room1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="bike_room" id="bike_room2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="bike_room2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label class="label-radio" for="washroom">Waschmaschinenraum</label>
		<div class="form-check form-check-inline">
  			<f:form.radio name="washroom" id="washroom1"class="form-check-input" value="1" />
  			<label class="form-check-label" for="washroom1">ja</label>
		</div>
		<div class="form-check form-check-inline">
  			<f:form.radio name="washroom" id="washroom2"class="form-check-input" checked="checked" value="0" />
  			<label class="form-check-label" for="washroom2">egal</label>
		</div>
	</div>
	<div class="form-group">
		<label for="rent">Miete:</label><br />
		<span style="padding-left: 5px; padding-right: 5px;">von:</span>
		<f:form.select name="rent_from" class="selectcol" options="{rentprices}" optionValueField="key" optionLabelField="value" value="{rent_from}" />
		<span style="padding-left: 5px; padding-right: 5px;">bis:</span>
		<f:form.select name="rent_to" class="selectcol" options="{rentprices}" optionValueField="key" optionLabelField="value" value="{rent_to}" />
	</div>
	<div class="form-group">
		<label for="living_area">Mietfläche:</label><br />
		<span style="padding-left: 5px; padding-right: 5px;">von:</span>
		<f:form.select name="living_area_from" class="selectcol" options="{areas}" optionValueField="key" optionLabelField="value" value="{living_area_from}" />
		<span style="padding-left: 5px; padding-right: 5px;">bis:</span>
		<f:form.select name="living_area_to" class="selectcol" options="{areas}" optionValueField="key" optionLabelField="value" value="{living_area_to}" />
	</div>
	<div class="form-group">
		<f:form.submit class="f-submit" value="Suchen" />
	</div>
</f:form>
	
</html>