<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/ChrisGruen/RealtyManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>Wir bieten Dir folgende Objekte an:</h2><br />

<f:for each="{objects}" as="object">
<div class="row list-immo-row">
	<div class="col-lg-9">
		<f:link.action action="detail" arguments="{objUid : object.uid}">
		   <span class="font-weight-bold">{object.title}</span>
		</f:link.action>
		<br />
		<n:feature object='{object.uid}' />
		<div class="list-teaser">
		   <f:format.html><f:format.crop maxCharacters="200">{object.teaser}</f:format.crop></f:format.html>
		</div>
	</div>
	<div class="col-lg-3">
		Bilder
	</div>
</div>
</f:for>
	
</html>