<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	  
<f:layout name="Backend/Default" />

<f:section name="content">
	<h1>
	    <f:translate key="LLL:EXT:realty_manager/Resources/Private/Language/locallang_mod.xlf:import_tab"/>
	</h1>
	
	<p class="lead">
	    <f:translate key="LLL:EXT:realty_manager/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tabdescr"/>
	</p>
	<f:if condition="{error}">
		<f:then>
		    <div class="alert alert-danger">
		        <div class="message-header">
		            {f:translate(key:'LLL:EXT:realty_manager/Resources/Private/Language/locallang_be.xlf:import.error.configuration.title')}
		        </div>
		        <div class="message-body">
		            <f:translate key="LLL:EXT:realty_manager/Resources/Private/Language/locallang_be.xlf:{error}" default="{error}"/>
		        </div>
		    </div>
	    </f:then>
	    <f:else>
	    	<f:render partial="OpenImmo/StartImportForm" arguments="{_all}" />
	    </f:else>
	</f:if>  
</f:section>
</html>
