{namespace myhelper=ChrisGruen\RealtyManager\ViewHelpers}
<div class="row list-immo-row pb-3">
	<div class="col">
		<div class="show-count-obj"> ({count_objects} Objekte)</div>
	</div>
</div>

<f:if condition="{objects}">
	<f:then>
		<f:if condition="{ajaxPaging}">
			<f:then>
				<f:if condition="{objects -> f:count()} > {itemsPerPage}">
					<f:then>
						Ajax-Pagination
						<f:for each="{objects}" as="object">
							<f:render partial="List/Item" arguments="{_all}" />
						</f:for>
						<f:asset.script identifier="ajax_paging" src="EXT:realty_manager/Resources/Public/JavaScript/AjaxPagination.js" />
					</f:then>
					<f:else>
						<f:for each="{objects}" as="object">
							<f:render partial="List/Item" arguments="{_all}" />
						</f:for>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:for each="{objects}" as="object">
					<f:render partial="List/Item" arguments="{_all}" />
				</f:for>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		Keine Objekte vorhanden!
	</f:else>
</f:if>

